.App {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  color: white;
  padding: 20px 0;
}

.menu {
  list-style: none;
}

.menu-item {
  display: inline-block;
  margin: 0 10px;
}

.menu-link {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

.menu-link:hover {
  opacity: 0.8;
}

.active {
  background-color: #fff;
  color: #282c34;
}
